### -----------------------------------
### Configuración Unity
### -----------------------------------
# Directorios críticos
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Aa]ssets/AssetStoreTools*
/[Pp]ackages/
/[Nn]uget/
/[Mm]anagedPlugins/
/[Cc]ollab*/

# Archivos generados por Unity
*.pidb.meta
*.pdb.meta
*.mdb
*.VC.db
*.opendb
*.openpf
*.unitypackage
*.booproj
*.svd
*.apk
*.aab
*.unityproj
*.userprefs
*.vcxproj*
*.jfm
*.pfx

# Configuración del proyecto
/ProjectSettings/AssetModelSetting.json
/ProjectSettings/EditorBuildSettings.asset
/ProjectSettings/UserSettings/
/ProjectSettings/ShaderCache/

/Survival/Library/Artifacts/


# Reportes y métricas
sysinfo.txt
crashlytics-build.properties
*.log
*.log.*
*.bak
*.orig

### -----------------------------------
### Entornos de desarrollo
### -----------------------------------
# Visual Studio
.vs/
*.csproj
*.sln
*.suo
*.user
*.vsconfig
*.dotSettings
ExportedObj/

# Rider (JetBrains)
.idea/
*.sln.iml
*.rider

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# MonoDevelop
*.pidb
*.resources
/.monodevelop/

### -----------------------------------
### Sistema operativo
### -----------------------------------
# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?
.fseventsd

# Windows
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

Survival/Library/ArtifactDB


# Linux
*~
.directory
**/.nfs*

### -----------------------------------
### Archivos temporales y caché
### -----------------------------------
/[Aa]utoSave*/
/[Tt]humbs/
/[Cc]ache/
/[Tt]rash/

*.sw?
*.swo
*.swn
*.swp
*.tmp
*.temp
*.TMP
*.tempFile
*.dylib
### -----------------------------------
### Paquetes y dependencias
### -----------------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.yarn/
/.pnp*
/.npm/
/.bower
/.yarnrc
jspm_packages/


### -----------------------------------
### Control de versiones
### -----------------------------------
.git/
.gitattributes
.gitkeep
.gitmodules
.hg/
.svn/